.mid_dashboard,.navicons1{
    size:30px
}
.mid_dashboard1 , .demographics{
    size:40px
}
.demographics1,.mid_dashboard2{
    line-height: 100px;
}
.navicons{
    line-height:100px;
    color:black;
    height: 20vh
}