.dashboard1{
    height:100vh;
    float:left;
}
.navIcon{
        line-height:100px;
        color:black;
        height:20vh;
        cursor:pointer;
}
.navIcon:hover{
        opacity: .5;
        box-shadow:0 0 0 5px rgba(#000,.4) , 0 0 0 10px  #f05f75;
}
.cardstyle{
        padding:4px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:50%;
        cursor:pointer;
}
.navb{
    width:100vw;
    overflow:hidden;
}
.bg-new{
    background-color:rgb(255, 123, 15);
}