
.bg-navbar {
  background-color: #8349f6;
  color: #fff;
}

.app-container{
    margin: auto;
    width: 1300px;
    padding: 1rem;
    margin-top: 1rem;
}

.small-title{
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 5px;
}